body {
  font-family: sans-serif;
  font-size: 14px;
  background-color: #17a2b8;
  color: #fff;
  margin: 0;
}

* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.kanban-board {
  overflow: auto;
  padding: 20px;
  display: flex;
  flex: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 50px;
  padding-right: 15px;
}
.list {
  display: inline-block;
  width: auto;
  flex: auto;
  vertical-align: top;
  overflow: auto;
  padding: 8px;
  border-radius: 0px;
  background: #f8f8f8;
  margin-right: 15px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.card {
  border-radius: 0px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  padding: 8px 10px;
  /* -webkit-transition: all 0.3 ease; */
  color: #000;
}
.card:hover {
  opacity: 0.5;
}
.card.dragging {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(-2deg);
}
.card-placeholder {
  display: block;
  height: 34px;
  border: 1px dashed #ddd;
  margin: 3px 0;
  border-radius: 0px;
}
.listname {
  margin: 0 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  padding: 5px;
  border-bottom: 1px dashed #ddd;
  text-overflow: ellipsis;
  /* user-select: none; */
}
.listname > span {
  float: right;
  font-weight: normal;
  font-size: 13px;
}

.header {
  padding: 20px;
  height: 70px;
  position: relative;
  background-color: #09446b;
}

.form-add-todo,
.form-add-list {
  padding: 10px 20px;
  background: #343a40;
}
.form-add-todo input,
.form-add-list input {
  margin-left: 10px;
}
.form-add-list {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
input[type='text'] {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 13px;
}

.filler-header {
  height: 30px;
  width: 100vw;
  background: #343a40;
  position: fixed;
  top: 0px;
}

.filler-footer {
  height: 30px;
  width: 100vw;
  background: #343a40;
  bottom: 0px;
  position: fixed;
}
